::ng-deep .navbar-brand {
  width: 60px;
  height: 60px;
}

::ng-deep .mat-menu-panel {
  background-color: #fff;
  box-shadow: 0px 0px 35px 0px rgba(154, 161, 171, 0.15);
  width: 170px;
}

::ng-deep .dropdown-menu{
  display: block;
}